<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                <CENTER>  <h4 class="card-title">CATEGORY DETAILS</h4></CENTER>
                  <p class="card-description">

                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>
                          <th>
                            Description
                          </th>

                         <th>
                            Image
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>
                          <td class="py-1">
                             {{d.Name}}

                          </td>

                          <td>
                            {{d.Email}}
                          </td>

                          <td>
                           <img src="{{d.Image.url}}">
                        </td>
                        <td>
                          <form action="{% url 'editcategory' dataid=d.id %}">
                            <button type="submit" class="btn btn-info rounded-pill m-2">Edit</button>

                          </form>
                        </td>
                        <td>
                          <form action="{% url 'deletecategory' dataid=d.id %}">
                            <button type="submit" class="btn btn-dark rounded-pill m-2">Delete</button>

                          </form>
                        </td>

                        </tr>
                        {% endfor  %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
</body>
</html>
{% endblock %}